In [1]:
# Import pandas and api functions from gspread
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [2]:
# Set up api calling credentials for Google Sheets
scope = ['https://spreadsheets.google.com/feeds']
credentials = ServiceAccountCredentials.from_json_keyfile_name('./MyProject-7e31e82736b9.json', scope)
gc = gspread.authorize(credentials)

In [3]:
# Calls the spreadsheet and creats a table of data from data within the called sheet
spreadsheet_key = '1VaNR-L0-HNy0w3_3WX3OXbuE7QDuqxlYfx7ZJN3jQ0c'
book = gc.open_by_key(spreadsheet_key)
worksheet = book.worksheet("Technology")
table = worksheet.get_all_values()

In [4]:
table

[['Market Analysis',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  'General Information',
  ''],
 ['Ticker',
  'Actual Price',
  '% Change',
  'Volatility Ranking\n(1 - 5)*',
  'Analyst Valuation Estimate',
  'Rank',
  'Market Cap\n(In Billions)',
  'PE Ratio',
  'EPS',
  '52-Week Spread\n(52wk high - 52wk low)',
  'Beta',
  '',
  'Industry Researcher',
  'Alex Dimmick'],
 ['FB',
  '$145.37',
  '-3.7',
  '1',
  '',
  '',
  '419.72',
  '22.47',
  '6.47',
  '$74.82',
  '0.42',
  '',
  'Estimation Date',
  '9/23/2018'],
 ['AAPL',
  '$216.30',
  '-1.59',
  '3',
  '',
  '',
  '1044.71',
  '19.62',
  '11.02',
  '$83.23',
  '1.41',
  '',
  'Summary and Notes',
  ''],
 ['AMZN',
  '$1,642.81',
  '-7.82',
  '4',
  '',
  '',
  '801.27',
  '92.1',
  '17.84',
  '$1,081.95',
  '1.58',
  '',
  '',
  ''],
 ['ORCL',
  '$47.32',
  '-1.33',
  '3',
  '',
  '',
  '179.28',
  '50.72',
  '0.93',
  '$10.91',
  '1.14',
  '',
  '',
  ''],
 ['HEAR',
  '$17.85',
  '-5.85',
  '2',
  '',
  '',
  '0.25',
  '10.66',
  '1.67',
  '$32.86',
  '0.76',
  '',
  '',
  ''],
 ['GDDY',
  '$72.08',
  '-1.03',
  '2',
  '',
  '',
  '12.40',
  '86.2',
  '0.84',
  '$39.83',
  '0.63',
  '',
  '',
  ''],
 ['GOOG',
  '$1,071.47',
  '-2.2',
  '3',
  '',
  '',
  '751.19',
  '41.58',
  '25.77',
  '$301.69',
  '1.11',
  '',
  '',
  ''],
 ['ADBE',
  '$245.80',
  '-2.82',
  '3',
  '',
  '',
  '119.98',
  '50.79',
  '4.84',
  '$111.93',
  '1.08',
  '',
  '',
  ''],
 ['BABA',
  '$142.87',
  '-1.2',
  '5',
  '',
  '',
  '370.35',
  '44.76',
  '3.19',
  '$76.56',
  '2.41',
  '',
  '',
  ''],
 ['SNAP',
  '$6.28',
  '-10.16',
  '#N/A',
  '',
  '',
  '8.02',
  '#N/A',
  '-1.22',
  '$15.45',
  '#N/A',
  '',
  '',
  ''],
 ['INTC',
  '$45.69',
  '3.11',
  '2',
  '',
  '',
  '210.68',
  '14.21',
  '3.21',
  '$16.89',
  '0.97',
  '',
  '',
  ''],
 ['CSCO',
  '$44.25',
  '-2.68',
  '3',
  '',
  '',
  '202.28',
  '1207.04',
  '0.04',
  '$15.80',
  '1.07',
  '',
  '',
  ''],
 ['DVMT',
  '$88.47',
  '-2.64',
  '#N/A',
  '',
  '',
  '17.64',
  '#N/A',
  '-3.37',
  '$34.06',
  '#N/A',
  '',
  '',
  ''],
 ['MSFT',
  '$106.96',
  '-1.24',
  '3',
  '',
  '',
  '821.05',
  '44.28',
  '2.42',
  '$37.43',
  '1.28',
  '',
  '',
  ''],
 ['TWTR',
  '$32.36',
  '1.76',
  '2',
  '',
  '',
  '24.52',
  '23.99',
  '1.35',
  '$28.89',
  '0.75',
  '',
  '',
  ''],
 ['ATVI',
  '$68.84',
  '-2.1',
  '2',
  '',
  '',
  '52.48',
  '106.78',
  '0.64',
  '$27.39',
  '0.86',
  '',
  '',
  ''],
 ['QCOM',
  '$62.48',
  '-1.14',
  '4',
  '',
  '',
  '91.79',
  '#N/A',
  '-2.85',
  '$27.94',
  '1.66',
  '',
  '',
  ''],
 ['ADSK',
  '$124.71',
  '-4.08',
  '4',
  '',
  '',
  '27.26',
  '#N/A',
  '-1.89',
  '$58.39',
  '1.8',
  '',
  '',
  ''],
 ['TXN',
  '$90.56',
  '-1.32',
  '3',
  '',
  '',
  '88.04',
  '19.42',
  '4.66',
  '$32.85',
  '1.19',
  '',
  '',
  ''],
 ['FIT',
  '$4.56',
  '-2.36',
  '4',
  '',
  '',
  '1.12',
  '#N/A',
  '-1.5',
  '$3.39',
  '1.77',
  '',
  '',
  ''],
 ['HPE',
  '$14.63',
  '-3.5',
  '#N/A',
  '',
  '',
  '21.53',
  '7.4',
  '1.98',
  '$6.66',
  '#N/A',
  '',
  '',
  ''],
 ['IBM',
  '$124.79',
  '-1.27',
  '2',
  '',
  '',
  '113.90',
  '20.02',
  '6.23',
  '$47.42',
  '0.87',
  '',
  '',
  ''],
 ['', '', '', '', '', '', '', '', '', '', '', '', '', ''],
 ['',
  '',
  '',
  '* Ranking is from 1 (less volatile) to 5(more volatile);\nA value of 1 covers beta ranges 0 - 0.49;\nA value of 2 covers beta ranges 0.5 - 0.99;\nA value of 3 covers beta ranges 1 - 1.49;\nA value of 4 covers beta ranges 1.5 - 1.99;\nA value of 5 covers beta ranges 2+;\n',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '']]

In [5]:
##Convert table data into a dataframe
df = pd.DataFrame(table[1:], columns=table[0])

##Only keep columns we need
df = df[['Market Analysis']]

##Convert number strings to floats and ints
df = df.apply(pd.to_numeric, errors='ignore')


df.head()

  Market Analysis
0          Ticker
1              FB
2            AAPL
3            AMZN
4            ORCL